footer{
    background-color: #252525;
    color: white;
    padding: 10px 0px;
    text-align: center;
}
footer .section{
    margin: auto;
}
footer h2{
    padding: 20px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer p{
    padding: 2px 20px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer address{
    font-size: 18px;
    padding: 12px 20px;
}
@media (max-width: 600px){
    footer h2{
        padding: 20px 10px;
        font-size: 7vw;
    }
    footer p{
        font-size: 4vw;
    }
}