.welcome_container{
    width: 100%;
    padding: 20px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.welcome{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    overflow: hidden;
}
.content_container{
    padding: 20px;
}
.content_container p{
    font-size: 20px;
    padding: 16px 0px;
}
.welcome img{
    max-width: 300px;
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin: 20px;

}
#welcome_btn{
    margin: 30px 0px;
}

@media (max-width: 800px){
    .welcome{
        flex-wrap: wrap;
    }
    .content_container{
        text-align: center;
    }
}
@media (max-width: 600px){
    #welcome_heading{
        font-size: 24px;
        text-align: left;
    }
    .content_container p{
        font-size: 16px;
        text-align: left;
        line-height: 25px
    }
    .content_container{
        padding: 20px 0px;
    }
    #welcome_btn{
        margin: 0;
    }
    .welcome img{
        margin: 0;
    }
}